<h1>Board Info</h1>

<p id="notice"><%= notice %></p>
<hr>
<p>
  <strong>Board:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @board.user.full_name %>
</p>

<h2>My Pins on This Board:</h2>
<p>
<%= render partial: "shared/pins_list" %>
</p>
<hr>
<% if @board.user_id == current_user.id %>
  <%= link_to 'Edit', edit_board_path(@board) %> |
<% end %>
<%= link_to 'Back', boards_path %>
